altgraph==0.17; sys_platform == "darwin"
argon2-cffi==20.1.0
cffi==1.14.3
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
construct==2.10.54
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" and sys_platform == "win32" or python_full_version >= "3.3.0" and sys_platform == "win32"
lxml==4.6.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
macholib==1.14; sys_platform == "darwin"
pefile==2019.4.18; sys_platform == "win32"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pycryptodomex==3.9.9; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyelftools==0.27; python_version >= "3.5"
pyinstaller-hooks-contrib==2020.10
pyinstaller==4.0
pykeepass==3.2.1
python-dateutil==2.8.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
pywin32-ctypes==0.2.0; sys_platform == "win32"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
staticx==0.12.0; python_version >= "3.5"
